@model MyDar.Areas.Admin.Models.Slider

@{
    ViewData["Title"] = "Delete Slider";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h3>Are you sure you want to delete this slider?</h3>

<div class="card">
    <div class="card-header">
        <h3>@Model.Title</h3>
    </div>
    <div class="card-body">
        @Model.Description
    </div>
    <div class="card-footer">
        <form asp-action="ConfirmDelete" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-controller="Slider" asp-area="Admin" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>


